/* default bootstrap dropdown styles */

@import "../../node_modules/bootstrap/scss/popover";

.popoevr-menu {
  margin-top: 0;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.5);

  .arrow {
    display: none;
  }

  .popover-body {
    padding: 0;
  }
}

.popoevr-menu__item {
  padding: 10px 20px;
  display: block;
  color: $color-grey-5;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-4;
  }

  & + & {
    border-top: 1px solid $color-grey-3;
  }
}
