<div class="grid grid__col--xs-12">
  <div class="h2 grid--center-header">Company structure</div>
  <div class="grid--right-header grid__col--xs-6">
   <input type="text" [(ngModel)]="searchValue" placeholder="search employee" style="width: 350px"/>
  </div>
  <div class="grid__col--xs-4">&nbsp;</div>
</div>
<div class="grid" *ngIf="page">
  <div class="grid__col--xs-12">
    <div class="clt">
      <ul id="myUL">
        <h4>Company</h4>
        <ul>
          <div *ngFor="let company of page.content">
            <li *ngFor="let director of company.directors">
              <h4>{{director.jobTitle}}</h4>
              <ul>
                <li *ngFor="let manager of director.managers">
                  {{manager.jobTitle}}&nbsp;&nbsp;&nbsp;
                  <a class="text-h7 link" (click)="addNewEmployee(director, manager)">+ add employee</a>
                  <app-employees-list [director] = "director" [manager] = "manager" [searchValue] = "searchValue" (employeesChanged)="employeesChanged($event)"></app-employees-list>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </ul>
    </div>
  </div>
</div>






